body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(70, 71, 81);
  font-family: 'Open Sans', sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 30px;
}

.text-secondary {
  color: rgb(70, 71, 81);
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: none;
}

.header-home {
  vertical-align: middle;
  line-height: 1px;
  font-size: 18px;
  color:#00109b;
  margin: 15px;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: rgb(29, 38, 154);
  color: rgb(255, 255, 255);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 38px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
}

.sidebar-brand > .material-icons-outlined {
  font-size: 50px;
  padding: 20px 20px 20px 65px;
  
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 1px 20px 5px;
  font-size: 16px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: rgb(180, 184, 244);
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
}

/* ---------- MAIN ---------- */

.main-container-home {
  grid-area: main;
  padding: 35px 50px;
}

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 0px 35px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}


/* PARRAFOS HOME*/

.p-home{
  margin:0 ;
  font-size: 60px;
  font-weight: bold;
 }
 
 .p-home:first-child{
   color:#e9503b
 }
 .p-home:nth-child(2) {
   color: #4609a8;
 }
 .p-home:nth-child(3) {
   color: #febe25;
 }

/* pestañas*/ 

.content {
	margin-top: 2rem;

}

[data-content] {
	display: none;
}

.active[data-content] {
	display: block;
}

/*--------------------------- pestañas ---------------------*/

.main-cards {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
}

.card {
  display: flex;
  align-items: center;
  margin: 0.5px 1.5px;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  color: rgb(255, 255, 255);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
  background-color: #00904f;
}
.card:nth-child(2) {
  background-color: #00529b;
}
.card:nth-child(3) {
  background-color: #febe25;
}
.card:nth-child(4) {
  background-color: #e9503b;
}
.card:nth-child(5) {
  background-color: #c679b4;
}
.card:nth-child(6) {
  background-color: #3358ff;
}
.card:nth-child(7) {
  background-color: #00bcad;
}
.card:nth-child(8) {
  background-color: #7b35e4;
}
.card:nth-child(9) {
  background-color: #b6bc18;
}
.card:nth-child(10) {
  background-color: #d4af37;
}
.card:nth-child(11) {
  background-color: #628e3d;
}
.card:nth-child(12) {
  background-color: rgb(236,145,146);
}
.card:nth-child(13) {
  background-color: #588a87;
}

.card-inner {
  display: flex;
  align-items: center;
  font-size: 10px;
}

/*cursor
.card:hover {
  background-color: white;
  color: #000000;
  border: 2px solid #000000;
  cursor: pointer;
}*/

.card:hover {
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.card:hover:first-child, .card.active:first-child{
  color: #00904f;
  border: 5px solid #00904f;
  border-bottom: 0px;
}
.card:hover:nth-child(2), .card.active:nth-child(2) {
  color: #00529b;
  border: 5px solid#00529b;
  border-bottom: 0px;
}
.card:hover:nth-child(3), .card.active:nth-child(3) {
  color: #febe25;
  border: 5px solid #febe25;
  border-bottom: 0px;
}
.card:hover:nth-child(4), .card.active:nth-child(4) {
  color: #e9503b;
  border: 5px solid #e9503b;
  border-bottom: 0px;
}
.card:hover:nth-child(5), .card.active:nth-child(5) {
  color: #c679b4;
  border: 5px solid #c679b4;
  border-bottom: 0px;
}
.card:hover:nth-child(6), .card.active:nth-child(6) {
  color: #3358ff;
  border: 5px solid #3358ff;
  border-bottom: 0px;
}
.card:hover:nth-child(7), .card.active:nth-child(7) {
  color: #00bcad;
  border: 5px solid #00bcad;
  border-bottom: 0px;
}
.card:hover:nth-child(8), .card.active:nth-child(8) {
  color: #7b35e4;
  border: 5px solid #7b35e4;
  border-bottom: 0px;
}
.card:hover:nth-child(9), .card.active:nth-child(9) {
  color: #b6bc18;
  border: 5px solid #b6bc18;
  border-bottom: 0px;
}
.card:hover:nth-child(10), .card.active:nth-child(10) {
  color: #d4af37;
  border: 5px solid #d4af37;
  border-bottom: 0px;
}
.card:hover:nth-child(11), .card.active:nth-child(11) {
  color: #628e3d;
  border: 5px solid #628e3d;
  border-bottom: 0px;
}
.card:hover:nth-child(12), .card.active:nth-child(12) {
  color: rgb(236,145,146);
  border: 5px solid rgb(236,145,146);
  border-bottom: 0px;
}
.card:hover:nth-child(13), .card.active:nth-child(13) {
  color: #588a87;
  border: 5px solid #588a87;
  border-bottom: 0px;
}


/*---------------------- formularios --------------------------- */
 /* caja del form*/
.product-card {
  width: 95%;
  border-color: aliceblue;
  display:auto;
  /*height: 350px;*/
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient( 115deg, rgba(255, 255, 255, 0.623), rgba(255, 255, 255, 0.726) ),url(resources/manos.jpeg);
}


/*titulo formulario*/
.product-description {
  padding-top: 0;
  text-align: center;
}

/*nose*/
.product-button > .material-icons-outlined {
  font-size: 50px;
}
.input-box3{
  width: 30%;
  padding: 10px;
  display: inline-block;
  margin: 15px;
  box-sizing: border-box;
}
.input-box3 label{
  /* position: relative;*/
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 10px 0px;
 }
 /*entrada de datos*/
 .input-box3 input{
 /*position: relative;*/
   display: block;
   margin: 15px;
   border-radius: 10px;
   height: 40px;
   width: 250px;
   border-color: green;
   background-color: rgb(241, 236, 236);
  }

/* input box dos columnas */
.input-box{
 width: 45%;
  padding: 10px;
  display: inherit;
  margin: 15px 10px 15px 10px;
}

.input-box label{
 /* position: relative;*/
 font-size: 16px;
 padding-top: 3px;
 padding-bottom: 3px;
 margin: 10px 0px;
}
/*entrada de datos*/
.input-box .texto{
/*position: relative;*/
  display: block;
  margin: 15px;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  border-color: green;
  background-color: rgb(241, 236, 236);
}
.input-box .radio{
  display: inline;
}

/*
.send{
  align-items: center;
  display: flex;
}
*/

.send{
  align-items: center;
  display: flex;
  justify-content: center;  /*Ponerlo al centro */
}

/*
.send-button{
  height: 55px;
  width: 50%;
  color: #6615b1;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto ;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(251, 255, 0); */


/* ------------------------ funciones tabs -------------------------- */
.card.active{
  background-color: white;  
  font-weight: bold;
}

[data-content]{
  display: none;
}
.active[data-content]{
  display:block;
}


/*----------- pie ------------ */

.main-pie {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-image: url(resources/hands.png);
  padding-bottom: 115px;
}

/*-------------home---------------*/



.home-buttons button{
  height: 55px;
  width: 25%;
  color: white;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  padding: 10px;
  margin: 40px 10px 20px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-convocatoria{
  background-color: #00904f;
}
.btn-convocatoria:hover{
  background-color: whitesmoke;
  color:#202338;
  border: 3px solid #00904f;
}
.btn-registrar:hover{
  background-color: whitesmoke;
  color:#202338;
  border: 3px solid gray;
}
.btn-registrar{
  background-color: gray;
}

footer {
  grid-area: footer;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  background-color: #202338;
  box-shadow: -4px 6px 7px 0px rgba(0, 0, 0, 0.2);
}

/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-container{
    width: 100%;
  }
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .products {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  html{
    width: 100%;
  }
  .header-left {
    display: none;
  }
  .main-title{
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .main-container{
    width: 100%;
  }
  .menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .product-card{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
}


/*------------------ESTILO FORMULARIO 2 COLUMNAS---------------------*/

/* Estilos generales 
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

*/

/* Contenedor de la columna */
.column2 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  /*padding: 10px;*/
  padding-right: 13px;
  padding-left: 13px;

  margin: 15px 10px;   /*Cambiar el espaciado entre columnas*/
}

/* Estilo para las etiquetas de texto */
.column2 label {
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 2px;
  display: block;
}

/* Entrada de datos */
.column2 input.texto {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  border-radius: 8px;
  height: 21px; /* Altura reducida a 21px */
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  color: #555;
  background-color: #fff; /* Color blanco por defecto */
}

/* Estilo para el borde al enfocar la entrada de texto */
.column2 input.texto:focus {
  outline: none;
  border-color: #6c63ff;
  background-color: #fff;
}

/* Estilo para cuando el usuario ha ingresado texto */
.column2 input.texto:valid {
  background-color: #e1f5fe; /* Cambiar al color azul claro deseado */
}

/*---------------------------------------*/







/*---------------ESTILO FORMULARIO 1 COLUMNA---------------------------*/


/* Contenedor de la columna */
.column1 {
  flex-basis: 100%; /* Columna ocupa todo el ancho */
  padding: 10px;
  margin-bottom: 10px;
}

/* Estilo para las etiquetas de texto */
.column1 label {
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  display: block;
}

/* Entrada de datos */
.column1 input.texto {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  border-radius: 8px;
  height: 21px;
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  color: #555;
  background-color: #fff;
}

/* Estilo para el borde al enfocar la entrada de texto */
.column1 input.texto:focus {
  outline: none;
  border-color: #6c63ff;
  background-color: #fff;
}

/* Estilo para cuando el usuario ha ingresado texto */
.column1 input.texto:valid {
  background-color: #e1f5fe;
}

/* Media Queries para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .column label {
    font-size: 14px;
  }
  .column input.texto {
    font-size: 14px;
    padding: 8px;
  }
}




/*---------------+++++++++++++++======--------------------------*/

/*---------------ESTILO FORMULARIO 3 COLUMNAS----------------------------*/


/* styles.css */
/* Estilos generales 
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px; /* Ajustamos el padding en lugar del margin 
}
*/


/* Contenedor de las filas */
.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px; /* Ajustamos el margen entre filas */
  padding-right: 5px;
  padding-left: 15px;
}

/* Contenedor de la columna */
.column3 {
  flex-basis: 40%;
  padding: 10px;
  /*margin: 1px 8px; Cambiar la distancia entre filas el primero*/
  
}

/* Estilo para las etiquetas de texto */
.column3 label {
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  display: block;
}

/* Entrada de datos */
.column3 input.texto {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  border-radius: 8px;
  height: px; /* Altura reducida a 21px */
  width: 90%;   .fila {   /*AJUSTAR EL LARGO DE LOS CUADROS DE TEXTO*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px; /* Ajustamos el margen entre filas */
  }
  
  /* Contenedor de la columna */
  .column3 {
    flex-basis: 40%;
    padding: 10px;
    margin: 1px 8px; /*Cambiar la distancia entre filas el primero*/
  }
  
  /* Estilo para las etiquetas de texto */
  .column3 label {
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    display: block;
  }
  
  /* Entrada de datos */
  .column3 input.texto {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 8px;
    height: px; /* Altura reducida a 21px */
    width: 100%; 
    border: 1px solid #110082;
    padding: 10px;
    font-size: 16px;
    color: #555;
    background-color: #fff; /* Color blanco por defecto */
  }
  
  /* Estilo para el borde al enfocar la entrada de texto */
  .column3 input.texto:focus {
    outline: none;
    border-color: #6c63ff;
    background-color: #fff;
  }
  
  /* Estilo para cuando el usuario ha ingresado texto */
  .column3 input.texto:valid {
    background-color: #e1f5fe; /* Cambiar al color azul claro deseado */
  }
  
  /* Media Queries para ajustar el diseño en pantallas más pequeñas */
  @media (max-width: 768px) {
    .row {
      flex-wrap: wrap;
    }
    .column {
      flex-basis: 100%;
      margin-bottom: 15px; /* Ajustamos el margen inferior de las filas en pantallas más pequeñas */
    }
  }
  border: 1px solid #110082;
  padding: 10px;
  font-size: 16px;
  color: #555;
  background-color: #fff; /* Color blanco por defecto */
}

/* Estilo para el borde al enfocar la entrada de texto */
.column input.texto:focus {
  outline: none;
  border-color: #6c63ff;
  background-color: #fff;
}

/* Estilo para cuando el usuario ha ingresado texto */
.column input.texto:valid {
  background-color: #e1f5fe; /* Cambiar al color azul claro deseado */
}

/* Media Queries para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
  .column {
    flex-basis: 100%;
    margin-bottom: 15px; /* Ajustamos el margen inferior de las filas en pantallas más pequeñas */
  }
}



/*---------------------===========================------------------*/



/* Estilo para el boton enviar*/

.GyE {
  background-color: #0073ff; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
}

/* Agregar estilo para el hover, cambia el texo al pasar el cursor*/
.GyE:hover {
  color: rgba(0, 0, 0, 0.667);
  
}



/* ------------------------ Botones para subir y visualizar archivo-------------------------- */

/* Estilos para el contenedor del botón y el nombre del archivo */
.upload-container {
  display: grid;
  grid-template-columns: auto 1fr; /* Primera columna se ajusta al contenido (botón), segunda columna ocupa el espacio restante */
  align-items: center;
  gap: 10px; /* Espacio entre el botón y el cuadro del nombre del archivo */
}

/* Estilos para el botón */
.upload-btn {
  padding: 10px 20px;
  
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: fit-content; /* Ancho ajustado al contenido */
  
  
}

/* Estilos para el icono */
.upload-icon {
  margin-right: 5px;
}

/* Estilos para el cuadro del nombre del archivo */
.file-name-box {
  padding: 8px 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fbfafa;
}

/* Estilos para el botón de visualización */

/*
.view-btn {
  display: inline-block;
  padding: 5px 258px;
  border: 2px solid #9accff;
  border-radius: 5px;
  background-color: #9accff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width:0cm; /* Ancho ajustado al contenido 
  white-space:nowrap; */

  /* Estilos para el botón de visualización 2 COLUMNAS*/
.view-btn {
  display: inline-block;
  /* padding: 5px 258px; Ajusta el padding según el espacio deseado entre el texto y el borde del botón */
  padding-right: 242.25px;
  padding-left: 242.25px;
  border: 2px solid #9accff;
  border-radius: 5px;
  background-color: #9accff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: fit-content; /* Ancho ajustado al contenido */
  white-space: nowrap;
  margin-top: 10px; /* Espacio entre el botón de visualización y los botones de arriba */
}

 /* Estilos para el botón de visualización 3 COLUMNAS*/
.view-btn3 {
  display: inline-block;
  padding: 5px 144px; /* Ajusta el padding según el espacio deseado entre el texto y el borde del botón */
  border: 2px solid #9accff;
  border-radius: 5px;
  background-color: #9accff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: fit-content; /* Ancho ajustado al contenido */
  white-space: nowrap;
  margin-top: 10px; /* Espacio entre el botón de visualización y los botones de arriba */
}
  
  


/* Estilos para el icono de visualización */
.view-icon {
  margin-right: 5px;
}


/*----------------ESTILO BOTON DE DESCARGA------------- */
.download-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 144px;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* Elimina el subrayado del enlace */
}

  .TextoDownload{

    text-align:center;
  }



  /*---------------------------- */


/* Estilos para el icono del botón de descarga */
.download-icon {
  margin-right: 5px;
}



/*-------------------Estilo para SELECT DESPLEGABLE-------------------*/
/* Estilos generales */
/* Estilos generales 
body1 {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

*/

/* Estilo para el contenedor principal */
.SelectStyle {
  max-width: 600px;
  margin: 20px auto;
  padding: -50px;
  background-color: #ffffff00;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
}

/* Estilo para las etiquetas de texto */
.SelectStylelabel {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

/* Estilo para el select */
.SelectStyle select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #555;
}

/* Estilo para las opciones del select */
.SelectStyleoption {
  color: #555;
}

/* Estilo para el borde al enfocar el select */
.SelectStyle select:focus {
  outline: none;
  border-color: #6c63ff;
}

/* Estilo cuando se ha seleccionado una opción */
.SelectStyle select:valid {
  background-color: #ceedfa; /* Cambiar al color deseado */
}

/* Estilo cuando no se ha seleccionado nada */
.SelectStyle select:invalid {
  background-color: #ffffff; /* Cambiar al color deseado */
}







